.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
app/fabric.properties
app/gradle.properties
*.apk
app/manifest-merger-release-report.txt
.idea/encodings.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/vcs.xml
cropper/build/generated/*
cropper/build/intermediates/*
cropper/build/outputs/*
cropper/build/tmp/*
tess-two/build/generated/*
tess-two/build/intermediates/*
tess-two/build/tmp/*
tess-two/outputs/*
.idea/encodings.xml
.idea/gradle.xml
.idea/runConfigurations.xml
.idea/misc.xml
.idea/encodings.xml